* {
  box-sizing: border-box;
}

body {
  color: #fcbe24;
  background-color: #212121;
  margin: 20px;
  display: grid;
  place-content: center center;
  height: 100vh;
  font-family: monospace;
  font-size: 14px;
}

canvas {
  image-rendering: pixelated;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid;
}

#title{
  font-weight: 800;
  font-size: 30px;
}

#wrapper {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  border: 1px solid #fcbe24;
  padding: 30px;
  width: 400px;
  padding-bottom: 0px;
  zoom:1.5;
  border-bottom: 10px solid;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top:10px;

  #UICanvas {
    border-bottom: 5px solid;
  }
  
  #infoBox {
    margin-top: 20px;
  }
}



#mobileControls {
  display: none;
}

@media (max-width:800px) {
  body{ 
    display: block;
    overflow: hidden;
  }

  #wrapper{
    width: 100%;
    zoom: 1.2;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center center;

    #UICanvas {
        display: none;
      }
    
    #infoBox {
      display: none;
    }
  }
 

  #mobileControls{
    position: absolute;
    height: 100vh;
    top: 0px;
    display: grid;
    width: 100%;
    grid-template-rows: 2fr 1fr;

    #mobileControlsFirstRow {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    .keyButton {
        display: none;
    }
  }

  body[preview-controls="true"]{
    #wrapper {
      filter: blur(3px);
    }

    #mobileControls {
      #buttonDown,
      #buttonRotate,
      #buttonRight,
      #buttonLeft{
        display:grid;
        .keyButton{
          background: #fcbe24;
          display: inline-grid;
          padding: 10px;
          font-size: 20px;
          place-self: center center;
          color: black;
          border-radius: 100%;
          border: 2px solid #212121;
          width: 100px;
          height: 100px;
          place-content: center center;
          font-weight: 800;
        }
      }
    }
  }
}